/* style */

.read,
.unread {
  font-size: 28px;
  font-family:
    Helvetica,
    Times New Roman,
    sans-serif;
}

.read {
  background-color: black;
  color: white;
  font-weight: bold;
}

.unread {
  background-color: yellow;
}
