<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="/message.css">
    </head>
    <body>
        <h1>Message Details</h1>        
        <ul>
            <li>
                <strong><%= message.name %>:</strong> 
                <%= message.text %> 
                <br>
                <small><%= message.added.toLocaleString() %></small>
            </li>
        </ul>
      <p><a href="/">Back to Board</a></p>
    </body>
</html>