.item {
    background-color: aliceblue;
    width: 200px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 50px;
    color: #7D1C4A;
}

.imageDiv {
    background-color: #F8EDED;
    
}

.home {
    padding: 50px;
    color: #7D1C4A;
    font-size: 20px;
}

.input {
    font-size: 15px;
}

.header {
    color: aliceblue;
    font-size: 25px;
    background-color: #56021F;
    margin-top: -32px;
    margin-left: -8px;
    position: relative;
    padding-left: 50px;
    padding: 25px;
}

.h2:hover {
    transform: scaley(1.1);
    cursor: pointer;
}

.tbody {
    margin-bottom: 100px;
    padding-top: 0px;
    padding: 50px;
    border-spacing: 0 45px;
}

.thead {
    border-bottom: 2px solid black;
    font-size: 20px;
    color: #7D1C4A;
}

.img {
    height: 200px;
    width: 200px;
}

.description {
    padding: 20px;
}

.remove{
    padding: 10px;
    color: aliceblue;
    background-color: #B8001F;
    width: 150px;
    font-size: 20px;
    border-radius: 6px;
}

.remove:hover {
    transform: scaley(1.1);
    cursor: pointer;
}