@font-face {
  font-family: "Mywriting";
  src: url(fonts/inriasans-bold-webfont.woff2) format("woff2");
  src: url(fonts/inriasans-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: "writing";
  src: url(fonts/inriasans-bolditalic-webfont.woff2) format("woff2");
  src: url(fonts/inriasans-bolditalic-webfont.woff) format("woff");
}

@font-face {
  font-family: "Handwriting";
  src: url(fonts/inriasans-italic-webfont.woff2) format("woff2");
  src: url(fonts/inriasans-italic-webfont.woff) format("woff");
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 1.5;
  font-size: 20px;
  font-family: "Handwriting";
  font-family: "Courier New", Courier, monospace;
}

.image {
  height: 300px;
  width: 300px;

  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

.salad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
}

.sandwich {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.Soup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.bowls {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.snacks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.beverages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dessert {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menuHeadline {
  color: #fdf0d5;
  text-shadow: 0 0 1px black;
  padding: 0px;

  font-family: "Mywriting";
}

.headDiv {
  text-align: center;
  background-color: #003049;
  padding: 0px;
  border-radius: 10px;
}

.p {
  color: #780000;
  font-size: 30px;
  text-shadow: 0 0 1px black;

  font-family: "writing";
}

.head {
  font-size: 20px;
  font-family: "writing";
}

/* Small devices (phones, 767px and down) */
@media (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    line-height: 1.5;
    font-size: 20px;
  }

  .salad {
    display: flex;
    flex-direction: column;
  }

  .sandwich {
    display: flex;
    flex-direction: column;
  }

  .Soup {
    display: flex;
    flex-direction: column;
  }

  .bowls {
    display: flex;
    flex-direction: column;
  }

  .snacks {
    display: flex;
    flex-direction: column;
  }

  .beverages {
    display: flex;
    flex-direction: column;
  }

  .dessert {
    display: flex;
    flex-direction: column;
  }

  .menuHeadline {
    margin-left: 0px;
    color: #fdf0d5;
    text-shadow: 0 0 1px black;
  }
}
