/* style */

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box; 
    font-size: 16px;
}

body {
    height: 100%;
}

header {
    background-color: rgb(24, 24, 119);
    padding-bottom: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    font-size: 40px;
    color: white;
}

.newBook {
    margin: 20px;
    padding: 8px;
  
    border-radius: 20px;
    border: none;
    background-color: rgb(124, 16, 34);
    color: white;

    width: 300px;
}

#dynamicForm {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
    padding: 20px;
}

#dynamicForm input,
#dynamicForm button {
    width: 300px;
    margin-bottom: 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;

    border: 2px solid blue;
}

#dynamicForm input:invalid{
    border: 2px solid red;
    border-radius: 3px;
}

.infoPara {
    font-size: 20px;
}

#bookStore {
    padding: 10px;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 25px;
}

#bookStore button, 
#bookStore input[type= "file"]{
    margin-top: 6px;
    padding: 3px;

    background-color: rgb(24, 24, 119);
    border: none;
    border-radius: 3px;
}

#bookStore input[type= "file"] {
    width: 200px;
}

#bookStore div {
    background-color: rgb(124, 16, 34);
    color: white;
    text-align: left;
    padding: 10px;

    border-radius: 5px;
}
