* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}


.form {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 50px;
    font-size: 20px;
    background-color: #F8E7F6;
    color: #4B164C;
}

.Info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.header {.header {
    display: flex;
    
}

.head {
    display: flex;
    flex: auto;
}
    display: flex;
}

.head {
    display: flex;
    flex: auto;
}

.title {
    display: flex;
    flex: auto;
}

.info {
    margin: 40px;
    background-color: #4B164C;
    padding: 20px;
    border-radius: 20px;
    color: #F5F5F5;
    margin-bottom: 20px;
}

.children {
    padding: 30px;
    margin: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 300px;
    outline: none;
}


.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px; 
    margin-left: 50px; 
}

button {
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    width: 200px;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: blue;
}

input:valid {
    outline: none;
    border-color: greenyellow;
}

img:hover {
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.company {
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
}

.show {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.submit {
    margin-top: 50px;  
}


img{
    color: white; /* Change color for font icons */
    filter: invert(1); /* Invert black to white */
  }
  

@media (max-width: 1000px) {
    .Info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 5px;
    }
}

@media (max-width: 500px) {
        
    .form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 5px;
        gap: 5px;
    }

    .info {
        margin: 0px;
    }

    .Info {
        padding: 10px;
    }
    
    .children {
        padding: 8px;
        margin: 5px;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px; 
        margin-left: 25px; 
    }

    .show {
        margin-left: 15px;
    }
}