* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}
:root {
    height: 100%;
    background-color: #4B164C;
    color: #F5F5F5;
    font-size: 1.0em;
}

.form {
    padding: 30px;
}

.cv {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.Info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.header {.header {
    display: flex;
    
}

.head {
    display: flex;
    flex: auto;
}
    display: flex;
}

.head {
    display: flex;
    flex: auto;
}

.title {
    display: flex;
    flex: auto;
}

.info {
    margin: 40px;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    color: #4B164C;
    margin-bottom: 20px;
}

.children {
    padding: 30px;
    margin: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 300px;
    outline: none;
}


.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px; 
    margin-left: 50px; 
}

button {
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    width: 200px;
    margin-left: 25px;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: blue;
}

input:valid {
    outline: none;
    border-color: greenyellow;
}

img:hover {
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.company {
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
}

.show {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.submit {
    margin-top: 50px;  
}

textarea {
    padding: 10px;
}

@media (max-width: 1000px) {

    .Info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 5px;
    }

}

@media (max-width: 500px) {
        
    .form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 5px;
    } 

    .info {
        margin: 0px;
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 25px;
        border-radius: 5px;
        color: #4B164C;
        margin-bottom: 20px;
        padding: 10px;
    }

    
    .children {
        padding: 0px;
        margin: 0px;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px; 
        margin-left: 25px; 
    }

    .show {
        margin-left: 15px;
        margin-top: 0px;
    }
}