:root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw; 
    background-color: #000000;
   
}

.header {
    color: aliceblue;
    font-size: 25px;
    background-color: #56021F;
    margin-top: -22px;
    width: 1000vw;
}

.shopEase {
    background-image: url(./bags.webp);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    width: 100vw; 
    min-width: 200px;
    overflow-x: hidden;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
}

.p {
    background-color: #E8F9FD;
    color: #7D1C4A;
    margin: 30px;
    padding: 80px;
    text-align: center;
    opacity: 0.8;
    border-radius: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 250px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-bottom: 20px;
}

.item {
    background-color: aliceblue;
    color: #000000;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
}

.description {
    padding: 10px;
}

.icon {
    height: 40px;
    width: 40px;
}

.price {
    font-size: 25px;
    background-color: #B8001F;
    border-radius: 6px;
    padding: 10px;
}

.color {
    filter: brightness(0) invert(1);
}

.img {
    height: 400px;
    width: 400px;
}

.iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartImages{
    margin-bottom: -12px;
}

.nav{
    margin-left: 50px;
    /* margin-left: 500px; */
    position: relative;
}

.headerNav{
    display: flex;
    margin-left: 85px;
    /* padding: 5px; */
}



.link {
    position: absolute;
    left: 15px;
    bottom: 50px;
    color: aliceblue;
    background-color: #B8001F;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.addCart{
    padding: 10px;
    color: aliceblue;
    background-color: #B8001F;
    font-size: 20px;
    border-radius: 6px;
}

@media (max-width: 1300px) {
    .cards {
        position: relative;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        margin-left: 100px;
    }
}

@media (max-width: 600px) {
    .headerNav{
        display: flex;
        /* margin-left: 85px; */
    }

    .cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
    }

    .p {
        background-color: #E8F9FD;
        color: #7D1C4A;
        padding: 5px;
        opacity: 0.8;
        border-radius: 12px;
    }

    .shopEase {
        background-image: none;
        /* background-size: cover;
        background-position: center; 
        background-attachment: fixed; 
        background-repeat: no-repeat; */
        width: 100vw; 
        /* min-width: 200px; */
        /* overflow-x: hidden; */
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px; 
    }

    .header {
    color: aliceblue;
    font-size: 25px;
    background-color: #56021F;
    margin-top: -22px;
    width: 1000vw;
}


    /* .nav{
        margin-left: 250px;
        margin-top: 40px;
        position: relative;
    } */

}