@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

ul{
   list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
}

.left-links{
   flex: auto;
}
.left-links, .right-links{
   display: flex;
   gap: 12px;
   padding: 10px;
}

.my{
  display: flex;
  flex-direction: column;
  height: 90%;
}

.footer{
    display:flex;
    background-color: rgb(182, 161, 133);
    margin-top: auto;
}

.content{
   text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
